<manifest xmlns:android="http://schemas.android.com/apk/res/android"

          package="com.example.haxor"
    >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        /* This lets the module appear in the module selection portion of the Xposed app */
        <meta-data
            android:name="xposedmodule"
            android:value="true" />

        /* This description will appear in the Xposed Application when enabling/disabling modules */
        <meta-data
            android:name="xposeddescription"
            android:value="I Saw! I Came! I Haxored!" />

        /* If you downloaded a different version of XposedBridgeApi-$VERSION, change the 54 to $VERSION */
        <meta-data
            android:name="xposedminversion"
            android:value="54" />

    </application>

</manifest>
